root = true

[*]
charset = utf-8
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{ts,tsx,js,jsx,html,css,scss,less}]
indent_size = 4

[*.md]
trim_trailing_whitespace = false

[*.{json,xml,yml}]
indent_size = 2
