// @import 'normalize.css';
@import '~@angular/material/theming';
@import "~@dagonmetric/app-styles-base/core";

@import "app/app-theme";

$font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, RobotoDraft, "San Francisco", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-size-base: 14px;
$line-height-base: 20px;
$font-weight-base: 400;

$app-styles-config: app-styles-config($font-family-base: $font-family-base,
$font-size-base: $font-size-base,
$line-height-base: $line-height-base,
$font-weight-base: $font-weight-base);

@include app-styles-core($app-styles-config);

// define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$typography-config: mat-typography-config($font-family: $font-family-base,
$body-1: mat-typography-level($font-size-base, $line-height-base, $font-weight-base));

// include material core styles.
@include mat-core($typography-config);

// Define the light theme.
$primary: mat-palette($mat-brown);
$accent: mat-palette($mat-pink, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);
@include app-theme($theme);
